{% extends "base.html" %}
{% load socialaccount %}

{% block title %}cabsy{% endblock %}

{% block content %}
	<div class="jumbotron">
      <div class="container">
        <h1>Renovando la confianza en los Taxis tradicionales!</h1>
        <p>Los taxis de la Ciudad de Mexico han sido acusados de inseguros y de dar mal servicio en los ultimos años y con la llegada de empresas de choferes privados se han acentuado las criticas, en Capzyla queremos ayudar a aquellos buenos taxistas a recobrar su reputación con la ciudadania.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Mas ... »</a></p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Mas seguro</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Califica</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Comunica</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© 2016 Company, Inc.</p>
      </footer>
    </div>
	<a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook OAuth2</a>

{% endblock %}
